:root {
  /* Color */
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-white-color: #ffffff;
  --bg-darkgrey-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --icon-color: #afb1b8;
  --hero-bg-color: #c4c4c4;
  /* Fonts */
  --main-font-family: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* others */
  --indent: 30px;
  --filter-indent: 8px;
  --items: 3;
  --border-radius-standart: 4px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

body.mobile-menu-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.header__logo {
  margin: 0;
  padding: 16px 0px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding: 26px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo-accent {
  color: var(--secondary-color);
}

.menu-button {
  position: relative;
  z-index: 1000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:active {
  color: var(--accent-color);
}
.menu-button__icon {
  fill: currentColor;
}

.menu-button .menu-close-icon {
  display: none;
}

.menu-button.is-open .menu-close-icon {
  display: block;
}

.menu-button.is-open .menu-open-icon {
  display: none;
}

.menu-container {
  background-color: var(--primary-white-color);
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 48px 40px;
    overflow: scroll;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* project set */
.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.project__item {
  --items: 3;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.registration__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.registration__btn__btn:hover, .registration__btn__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.project__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  border: none;
  border-radius: var(--border-radius-standart);
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.project__btn:hover, .project__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__btn.current {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.project, .clients, .team, .about, .features {
  padding-bottom: 94px;
  padding-top: 94px;
}

.footer__list, .clients__list, .socials__list, .team__list, .about__list, .features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clients-link, .socials__link {
  text-decoration: none;
  color: currentColor;
}

.registration__title {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color);
}

.about__title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about__subtitle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.team__title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__uppertitle {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__subtitle {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.clients__title {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-align: center;
  margin-bottom: 50px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.project__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.register-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  opacity: 0;
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  max-height: 609px;
  z-index: 1100;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity var(--animation), visibility var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), visibility var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), visibility var(--animation), transform var(--animation);
  transition: opacity var(--animation), visibility var(--animation), transform var(--animation), -webkit-transform var(--animation);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.registration {
  text-align: center;
}

.registration__group {
  margin-bottom: 20px;
}

.registration__wrap {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.registration__wrap:last-child {
  margin-bottom: 0;
}

.registration__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 2px;
}

.registration__input {
  display: block;
  padding: 12px 42px;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
@media screen and (min-width: 1200px) {
  .registration__input {
    width: 448px;
  }
}
.registration__input:hover, .registration__input:focus {
  border-color: var(--accent-color);
}

.registration__group {
  position: relative;
  margin-bottom: 10px;
}

.registration__icon {
  position: absolute;
  display: block;
  bottom: 11px;
  left: 12px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
  color: var(--accent-color);
}

.registration__input:hover + .registration__icon,
.registration__input:focus + .registration__icon {
  fill: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
}

.registration__message {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .registration__message {
    width: 448px;
  }
}

.registration__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration__agreement {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
  color: var(--primary-color);
}
@media screen and (max-width: 1199px) {
  .registration__agreement {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.checkbox__icon {
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
  margin-right: 7px;
}

.checkbox__icon--check {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.checkbox:checked + .checkbox__icon .checkbox__icon--check {
  opacity: 1;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.checkbox:checked + .checkbox__icon .checkbox__icon--uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.agreement__link {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-position: under;
}

.registration__agreement:focus-within .checkbox__icon {
  border: 1px solid var(--accent-color);
}

.registration__agreement:focus-within .checkbox__icon--uncheck {
  opacity: 0;
}

.subscription {
  margin-left: auto;
}

.subscription__title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription__email {
  width: 358px;
  margin-right: 12px;
  padding: 15px;
  max-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: transparent;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.subscription__email:hover, .subscription__email:focus {
  border-color: var(--accent-color);
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--primary-white-color);
  padding: 10px 29px;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.subscription__button:hover, .subscription__button:focus {
  cursor: pointer;
}

.send-icon {
  margin-left: 10px;
  fill: currentColor;
}

.subscription__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-border {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: auto;
  display: none;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header__item {
    display: none;
  }
  .nav__list {
    display: none;
  }
  .nav__link {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .nav__list {
    display: none;
  }
  .nav__link {
    display: none;
  }
  .nav__list {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    gap: 50px;
  }
  .nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
  .nav__link--current {
    position: relative;
    color: var(--accent-color);
  }
  .nav__link--current::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: var(--border-radius-standart);
    background-color: var(--accent-color);
  }
  .header__mail {
    margin-right: 50px;
  }
  .header__item {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .header__item :hover, .header__item :focus {
    color: var(--accent-color);
  }
  .header__icons {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    margin-right: 10px;
  }
  .header__mail,
.header__phone {
    color: var(--description-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .header__social-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) and (min-width: 768px) {
  .header__social-list {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .header-social__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .header-social__link {
    color: #2196f3;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 18px;
    line-height: 1.2222222222;
    text-decoration: none;
  }
}
.hero__section {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@1x_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@1x_sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@2x_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@1x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@1x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@2x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/hero@1x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero@1x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/hero@2x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero@2x_lg.jpg);
  }
}
.hero__section .hero__title {
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6153846154;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--primary-white-color);
  margin-bottom: var(--indent);
}
@media screen and (min-width: 1200px) {
  .hero__section .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.btn__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-transition: color var(--animation), border-color var(--animation);
  transition: color var(--animation), border-color var(--animation);
}
.btn__close:focus, .btn__close:hover {
  color: var(--accent-color);
  /* border: 1px solid var(--accent-color); */
  cursor: pointer;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--indent);
}
@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 0;
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

.features-icon-container {
  height: 120px;
  background-color: var(--secondary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--indent);
}

.features__subtitle {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__descr {
  color: var(--description-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.about {
  padding-top: 0;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.about__item {
  position: relative;
}

.about__descr {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__item {
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding: 30px 10px;
  background-color: var(--primary-white-color);
}

.socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), color var(--animation);
  transition: background-color var(--animation), color var(--animation);
  text-decoration: none;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.socials__list + .socials__list {
  margin-left: 10px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: color var(--animation), border var(--animation);
  transition: color var(--animation), border var(--animation);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: currentColor;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__adress {
  font-size: 14px;
  line-height: 1.71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.footer:not(.logo) {
  background-color: var(--bg-darkgrey-color);
  color: var(--primary-white-color);
  padding: 60px 0;
}

.footer__logo {
  color: var(--accent-color);
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
}

.footer__logo--accent {
  color: var(--primary-white-color);
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__email:hover, .footer__email:focus {
  color: var(--accent-color);
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__tel:hover, .footer__tel:focus {
  color: var(--accent-color);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer__links {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials__icon {
  fill: currentColor;
}

.project__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--filter-indent);
  margin-bottom: 50px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.project__text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.87;
}

.project__descr {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  border-top: 0px;
}

.project__link {
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__descr:hover,
.project__descr:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
}

.project__elements {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  background-color: rgba(33, 150, 243, 0.9);
}

.project__elements:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */