:root {
  /* Color */
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-white-color: #ffffff;
  --bg-darkgrey-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --icon-color: #afb1b8;
  --hero-bg-color: #c4c4c4;
  /* Fonts */
  --main-font-family: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* others */
  --filter-indent: 8px;
  --border-radius-standart: 4px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

body.mobile-menu-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: start;
    gap: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .container-mobile {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  position: absolute;
  left: 15px;
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--accent-color);
}
@media screen and (min-width: 767.98px) {
  .logo {
    position: static;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.1923076923;
  }
}

.logo--light {
  color: var(--logo-color);
}

.logo--dark {
  color: var(--primary-white-color);
}

/* project set */
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.btn__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-transition: color var(--animation), border-color var(--animation);
  transition: color var(--animation), border-color var(--animation);
  outline-color: transparent;
}
.btn__close:focus, .btn__close:hover {
  color: var(--accent-color);
  outline-color: var(--accent-color);
  cursor: pointer;
}

.registration__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.registration__btn__btn:hover, .registration__btn__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.project__btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-standart);
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.project__btn:hover, .project__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__btn.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-transition: color var(--animation), border-color var(--animation);
  transition: color var(--animation), border-color var(--animation);
}
.btn__close:focus, .btn__close:hover {
  color: var(--accent-color);
  /* border: 1px solid var(--accent-color); */
  cursor: pointer;
}

.project, .clients, .team, .about, .features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .project, .clients, .team, .about, .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.project__filter, .footer__list, .socials__list, .team__item, .mobile-menu-social__item, .header__item, .nav__list, .clients__list, .about__list,
.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address-menu, .footer__logo, .clients-link, .socials__link, .mobile-menu-social__link, .header-contacts__link, .nav__link, .logo {
  text-decoration: none;
}

.registration__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color);
}

.about__list,
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .about__list,
.features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .about__list,
.features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.project__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.register-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color);
}

.title {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9000;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .backdrop {
    overflow-y: scroll;
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0, 1);
          transform: translate(-50%, -50%) scale(0, 1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 95vw;
  max-height: 609px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  z-index: 7;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: transform var(--animation), opacity var(--animation);
  transition: transform var(--animation), opacity var(--animation), -webkit-transform var(--animation);
}
@media screen and (min-width: 479.98px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.registration__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.registration__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.registration__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--secondary-color);
}

.registration__wrap:last-child {
  margin-bottom: 0;
}

.registration__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.registration__input {
  padding: 11px 42px;
  height: 40px;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.registration__input:hover, .registration__input:focus {
  border-color: var(--accent-color);
}

.registration__icon {
  position: absolute;
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  top: 50%;
  bottom: 11px;
  left: 12px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
  color: var(--accent-color);
}

.registration__input:hover + .registration__icon,
.registration__input:focus + .registration__icon {
  fill: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
}

.registration__message {
  max-width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.14;
}

.registration__message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registration__message::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registration__message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registration__message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registration__message::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registration__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.registration__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .registration__agreement {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 8px;
  }
}

.checkbox__icon {
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
  margin-right: 7px;
}

.checkbox__icon--check {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.checkbox:checked + .checkbox__icon .checkbox__icon--check {
  opacity: 1;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.checkbox:checked + .checkbox__icon .checkbox__icon--uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.agreement__link {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 479.98px) {
  .agreement__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 6px;
    outline-color: transparent;
    -webkit-transition: outline-color var(--animation);
    transition: outline-color var(--animation);
    text-underline-position: under;
  }
}

.registration__agreement:focus-within .checkbox__icon {
  border: -1px solid var(--accent-color);
  border-radius: 4px;
}

.registration__agreement:focus-within .checkbox__icon--uncheck {
  opacity: 0;
}

.subscription__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subscription__email {
  padding: 15px 16px;
  width: 90vw;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: transparent;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
@media screen and (min-width: 1200px) {
  .subscription__email {
    max-width: 358px;
  }
}
.subscription__email:hover, .subscription__email:focus {
  border-color: var(--accent-color);
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--primary-white-color);
  padding: 10px 29px;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.subscription__button:hover, .subscription__button:focus {
  cursor: pointer;
}

.send-icon {
  margin-left: 10px;
  fill: currentColor;
}

.header-border {
  position: relative;
  border-bottom: 1px solid var(--header-border);
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 9000;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover, .menu-button:focus {
  color: var(--accent-color);
}
.menu-button__icon-menu {
  display: block;
  fill: currentColor;
}
.menu-button.is-open .menu-button__icon-menu {
  display: none;
}
.menu-button__close-icon {
  display: none;
  fill: currentColor;
}
.menu-button.is-open .menu-button__close-icon {
  display: block;
}

.menu-button.is-fixed {
  position: fixed;
}

.mobile-menu {
  padding: 48px 40px;
  background: var(--primary-white-color);
  text-align: left;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 5;
  -webkit-transition: -webkit-transform var(--animation) 500ms;
  transition: -webkit-transform var(--animation) 500ms;
  transition: transform var(--animation) 500ms;
  transition: transform var(--animation) 500ms, -webkit-transform var(--animation) 500ms;
}
.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    gap: 50px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .header__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 32px;
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;
  }
}

.navigation-left {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .navigation-left {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-left {
    margin-left: 92px;
  }
}

.nav__link {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__link--current::after {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:last-child {
    margin-left: 50px;
  }
}

.icons-mail {
  display: none;
}
@media screen and (min-width: 768px) {
  .icons-mail {
    display: block;
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
}

.icons-phone {
  display: none;
}
@media screen and (min-width: 768px) {
  .icons-phone {
    display: block;
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }
}

.header-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 16px;
  }
}

.mobile-activ {
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 479.98px) {
  .mobile-activ {
    color: var(--accent-color);
    font-size: 23px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .mobile-activ {
    color: var(--accent-color);
    font-size: 34px;
  }
}

.mobile-menu-social {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
  }
}

.mobile-menu-social__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-social__item:last-child {
  border: none;
  padding-right: 0;
}
.mobile-menu-social__item:first-child {
  padding-left: 0;
}

.mobile-menu-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 479.98px) {
  .mobile-menu-social__link {
    font-size: 18px;
    line-height: 1.22;
  }
}

.hero__section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero@1x_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@1x_sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@1x_sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@1x_sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@2x_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@1x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@1x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Hero@2x_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Hero@2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero@1x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@1x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero@2x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x_lg.jpg);
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.6153846154;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  -ms-flex-preferred-size: calc((100% - (1 - 1) * 30px) / 1);
      flex-basis: calc((100% - (1 - 1) * 30px) / 1);
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * 30px) / 2);
        flex-basis: calc((100% - (2 - 1) * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - (4 - 1) * 30px) / 4);
        flex-basis: calc((100% - (4 - 1) * 30px) / 4);
  }
}

.features__list--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features-icon-container {
  height: 120px;
  background-color: var(--secondary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.features__subtitle {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__descr {
  color: var(--description-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.about {
  padding-top: 0;
}

@media screen and (max-width: 1199.98px) {
  .about {
    display: none;
  }
}

.about__thumb {
  position: relative;
}

.about__item {
  position: relative;
}

.about__descr {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
}

.about__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team__item {
  -ms-flex-preferred-size: calc((100% - (1 - 1) * 30px) / 1);
      flex-basis: calc((100% - (1 - 1) * 30px) / 1);
  text-align: center;
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * 30px) / 2);
        flex-basis: calc((100% - (2 - 1) * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - (4 - 1) * 30px) / 4);
        flex-basis: calc((100% - (4 - 1) * 30px) / 4);
  }
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__card {
  padding: 30px;
  background-color: var(--primary-white-color);
}

.team__title {
  color: var(--secondary-color);
  margin-bottom: 10px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
}

.team__uppertitle {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__subtitle {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), color var(--animation);
  transition: background-color var(--animation), color var(--animation);
  text-decoration: none;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.socials__list + .socials__list {
  margin-left: 10px;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__list {
  -ms-flex-preferred-size: calc((100% - (2 - 1) * 30px) / 2);
      flex-basis: calc((100% - (2 - 1) * 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - (3 - 1) * 30px) / 3);
        flex-basis: calc((100% - (3 - 1) * 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - (6 - 1) * 30px) / 6);
        flex-basis: calc((100% - (6 - 1) * 30px) / 6);
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: color var(--animation), border var(--animation);
  transition: color var(--animation), border var(--animation);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.footer {
  background-color: var(--bg-darkgrey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    max-width: 231px;
    margin-right: 70px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--accent-color);
}

.footer__street-address {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--primary-white-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer__street-address {
    margin-bottom: 9px;
  }
}

.address-menu {
  font-style: normal;
}

.address-menu__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address-menu__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__email:hover, .footer__email:focus {
  color: var(--accent-color);
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__tel:hover, .footer__tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer__links {
    margin-right: 93px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer__links {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.project__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .project__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 85vw;
  }
}
@media screen and (min-width: 768px) {
  .project__filter {
    gap: 8px;
  }
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project-cards {
  -ms-flex-preferred-size: calc((100% - (1 - 1) * 30px) / 1);
      flex-basis: calc((100% - (1 - 1) * 30px) / 1);
}
@media screen and (min-width: 768px) {
  .project-cards {
    -ms-flex-preferred-size: calc((100% - (2 - 1) * 30px) / 2);
        flex-basis: calc((100% - (2 - 1) * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-cards {
    -ms-flex-preferred-size: calc((100% - (3 - 1) * 30px) / 3);
        flex-basis: calc((100% - (3 - 1) * 30px) / 3);
  }
}

.project__text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}

.project__descr {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid var(--card-border);
  border-top: 0px;
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__descr:hover,
.project__descr:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay__text {
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-size: 14px;
}
@media screen and (min-width: 479.98px) {
  .overlay__text {
    font-size: 18px;
  }
}

.project__elements {
  position: relative;
  overflow: hidden;
}

.project__elements-foto {
  width: 100%;
}

.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  background-color: rgba(33, 150, 243, 0.9);
}

.project__elements:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media screen and (min-width: 479.98px) {
  .project__link:hover .project__overlay,
.project__link:focus .project__overlay {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1199.98px) {
  .project__link:hover .project__overlay,
.project__link:focus .project__overlay {
    padding: 63px 24px;
  }
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(-secondary-color);
}/*# sourceMappingURL=main.css.map */