.about {
  @extend %section;
  padding-top: 0;
}

.about {
  @media screen and (max-width: ($desktop - 0.02px)) {
    display: none;
  }
}

.about__thumb {
  position: relative;
}

// .about__list {
//   @extend %reset-list;
//   display: flex;
//   flex-wrap: wrap;
// }

.about__item {
  position: relative;
}
.about__descr {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
}

.about__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
