.clients {
  @extend %section;
}

.clients__item {
  display: block;
  justify-content: center;
  align-items: center;
}

.clients__list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    align-items: center;
  }
}
.clients-link {
  @extend %reset-link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color var(--animation), border var(--animation);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.clients-icon {
  fill: currentColor;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}
