.clients {
  @extend %section;
}

.clients__list {
  @include flex-calc($indent, $items: 2);
  @media screen and (min-width: $tablet) {
    @include flex-calc($indent, $items: 3);
  }

  @media screen and (min-width: $desktop) {
    @include flex-calc($indent, $items: 6);
  }
}

.clients-link {
  @extend %reset-link;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color var(--animation), border var(--animation);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.clients-icon {
  fill: currentColor;
  // display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}
