.footer {
  background-color: var(--bg-darkgrey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__adress {
  // font-size: 14px;
  // line-height: 1.71;
  // display: flex;
  // flex-direction: column;
  // margin-right: 70px;
  @media screen and (min-width: $desktop) {
    max-width: 231px;
    margin-right: 70px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo {
  @extend %reset-link;
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent-color);
}

.footer__street-address {
  // flex-direction: column;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--primary-white-color);
  transition: color var(--animation);
  font-style: normal;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}
.address-menu {
  @extend %reset-link;
  font-style: normal;
}

.address-menu__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__links {
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.footer__list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer__link {
  // align-items: baseline;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color var(--animation), background-color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.footer__links {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
