.header-border {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: auto;
  display: none;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }

  .header__item {
    display: none;
  }

  .nav__list {
    display: none;
  }

  .nav__link {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .nav__list {
      display: none;
    }

    .nav__link {
      display: none;
    }

    .nav__list {
      color: var(--secondary-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      // display: flex;
      gap: 50px;
    }

    .nav__link {
      display: inline-flex;
      padding-top: 32px;
      padding-bottom: 32px;
      transition: color var(--animation);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    .nav__link--current {
      position: relative;
      color: var(--accent-color);
    }

    .nav__link--current::after {
      content: ' ';
      position: absolute;
      bottom: 0px;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: var(--border-radius-standart);
      background-color: var(--accent-color);
    }

    .header__mail {
      margin-right: 50px;
    }

    .header__item {
      // @extend %reset-list;
      // display: flex;
      align-items: baseline;

      & :hover,
      & :focus {
        color: var(--accent-color);
      }
    }

    .header__icons {
      display: inline-block;
      fill: currentColor;
      vertical-align: middle;
      margin-right: 10px;
    }

    .header__mail,
    .header__phone {
      color: var(--description-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      transition: color var(--animation);
    }

    .header__social-list {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .header-social__item:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .header-social__link {
      color: #2196f3;
      font-weight: 500;
      letter-spacing: 0.02em;
      font-size: 18px;
      line-height: calc(22 / 18);
      text-decoration: none;
    }
  }
}
