// .header-border {
//   border-bottom: 1px solid var(--header-border);
// }

// .header__container {
//   display: flex;
//   align-items: center;
// }

// .logo {
//   color: var(--accent-color);
//   font-family: 'Raleway';
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
// }

// .header__logo {
//   margin-right: 93px;
// }

// .logo-accent {
//   color: var(--secondary-color);
// }

// .header__nav {
//   margin-right: auto;
// }

// .nav__link {
//   display: inline-flex;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition: color var(--animation);
// }

// .nav__list {
//   color: var(--secondary-color);
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   display: flex;
//   gap: 50px;
// }

// .nav__link--current {
//   position: relative;
//   color: var(--accent-color);
// }

// .nav__link--current::after {
//   content: ' ';
//   position: absolute;
//   bottom: 0px;
//   left: 0;
//   display: block;
//   width: 100%;
//   height: 4px;
//   border-radius: var(--border-radius-standart);
//   background-color: var(--accent-color);
// }

// .header__item {
//   @extend %reset-list;
//   display: flex;
//   align-items: baseline;

//   & :hover,
//   & :focus {
//     color: var(--accent-color);
//   }
// }
