.hero__section {
  padding: 200px 0;
  background-color: var(--bg-darkgrey-color);
  color: var(--primary-white-color);
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-bg-color);
}
