.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__section {
  max-width: 1600px;

  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-color: var(--hero-bg-color);

  // mobile
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./images/hero/Hero@1x_sm.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./images/hero/Hero@2x_sm.jpg);
  }

  // color: var(--primary-white-color);

  // tablet
  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./images/hero/Hero@1x_md.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./images/hero/Hero@2x_md.jpg);
    }
  }

  // desktop
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./images/hero/hero@1x_lg.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./images/hero/hero@2x_lg.jpg);
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // outline: 1px solid black;

  .hero__title {
    font-weight: 900;
    // font-size: 44px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: calc(42 / 26);
    // max-width: 696px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--primary-white-color);
    margin-bottom: var(--indent);

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.btn__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transform: translate(-8px, 8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: color var(--animation), border-color var(--animation);

  &:focus,
  &:hover {
    color: var(--accent-color);
    /* border: 1px solid var(--accent-color); */
    cursor: pointer;
  }
}
