.project {
  @extend %section;
}

.project__filter {
  @extend %reset-list;
  display: flex;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: ($tablet - 0.02px)) {
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 85vw;
  }

  @media screen and (min-width: $tablet) {
    gap: 8px;
  }
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

.project-cards {
  @include flex-calc($indent, $items: 1);

  @media screen and (min-width: $tablet) {
    @include flex-calc($indent, $items: 2);
  }

  @media screen and (min-width: $desktop) {
    @include flex-calc;
  }
}

.project__text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}

.project__descr {
  padding: 20px 24px;
  flex-grow: 1;
  border: 1px solid var(--card-border);
  border-top: 0px;
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__descr:hover,
.project__descr:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay__text {
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-size: 14px;
  @media screen and (min-width: ($mobile - 0.02px)) {
    font-size: 18px;
  }
}

.project__elements {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  transform: translateY(0);
  transition: transform var(--animation);
  background-color: rgba(33, 150, 243, 0.9);
}
.project__elements:hover .project__overlay {
  transform: translateY(0);
  opacity: 1;
}
.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(-100%);

  @media screen and (min-width: ($mobile - 0.02px)) {
    padding: 49px 24px;
  }
  @media screen and (min-width: ($desktop - 0.02px)) {
    padding: 63px 24px;
  }
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(-secondary-color);
}
// .register-form-title {
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   color: var(--secondary-color);
// }
