.team {
  @extend %section;
}

.team__list {
  @extend %reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}
.team {
  background-color: var(--secondary-bg-color);
}

.team__item {
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding: 30px 10px;
  background-color: var(--primary-white-color);
}

.socials__link {
  @extend %reset-link;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;
  transition: background-color var(--animation), color var(--animation);
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.socials__list + .socials__list {
  margin-left: 10px;
}

.socials__list {
  @extend %reset-list;
  display: flex;
  align-items: center;
  // gap: 10px;
  justify-content: center;
}

// .socials__icon {
//   transition: fill var(--cubic);
//   fill: currentColor;
// }
