.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.btn__close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  // transform: translate(-8px, 8px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: color var(--animation), border-color var(--animation);
  outline-color: transparent;

  &:focus,
  &:hover {
    color: var(--accent-color);
    outline-color: var(--accent-color);
    cursor: pointer;
  }
}

.registration__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: box-shadow var(--animation);
  &__btn:hover,
  &__btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.project__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  border: none;
  border-radius: var(--border-radius-standart);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project__btn.current {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
