.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  // width: 1200px;
  // outline: 2px solid red;
  // outline-offset: -2px;

  // breakpoint 480px for mobile screen
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // breakpoint 480px for tablet screen
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // breakpoint 480px for desctop screen
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
