.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  // width: 1200px;
  outline: 2px solid red;
  outline-offset: -2px;

  // breakpoint 480px for mobile screen
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  // breakpoint 480px for tablet screen
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  // breakpoint 480px for desctop screen
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.header__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.footer-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02px)) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: start;
    gap: 0;
  }
}

.container-mobile {
  @media screen and (max-width: ($tablet - 0.02px)) {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
