.menu-button {
  position: relative;
  z-index: 1000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:active {
    color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}

.menu-button .menu-close-icon {
  display: none;
}

.menu-button .is-open .menu-open-icon {
  display: none;
}

.menu-container {
  background-color: var(--primary-white-color);

  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 48px 40px;
    overflow: scroll;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
