.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 0;
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  max-height: 609px;
  z-index: 1100;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity var(--animation), visibility var(--animation), transform var(--animation);

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }
}

.registration {
  text-align: center;
}

.registration__group {
  margin-bottom: 20px;
}

.registration__wrap {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.registration__wrap:last-child {
  margin-bottom: 0;
}

.registration__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 2px;
}

.registration__input {
  display: block;
  padding: 12px 42px;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);

  @media screen and (min-width: 1200px) {
    width: 448px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.registration__group {
  position: relative;
  margin-bottom: 10px;
}

.registration__icon {
  position: absolute;
  display: block;
  bottom: 11px;
  left: 12px;
  transition: var(--animation);
  color: var(--accent-color);
}

.registration__input:hover + .registration__icon,
.registration__input:focus + .registration__icon {
  fill: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
}

.registration__message {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.14;

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.registration__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.registration__agreement {
  text-align: left;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
  color: var(--primary-color);

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.checkbox__icon {
  transition: opacity var(--animation);
  margin-right: 7px;
}

.checkbox__icon--check {
  opacity: 0;
  transition: opacity var(--animation);

  .checkbox:checked + .checkbox__icon & {
    opacity: 1;
    transition: opacity var(--animation);
  }
}

.checkbox:checked + .checkbox__icon .checkbox__icon--uncheck {
  opacity: 0;

  transition: opacity var(--animation);
}

.agreement__link {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-position: under;
}

.registration__agreement:focus-within .checkbox__icon {
  border: 1px solid var(--accent-color);
}

.registration__agreement:focus-within .checkbox__icon--uncheck {
  opacity: 0;
}
