%section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

%reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%reset-link {
  text-decoration: none;
  color: currentColor;
}
