.hero__title {
  font-weight: 900;
  font-size: 44px;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: var(--indent);
}

.registration__title {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color);
}

.about__title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about__subtitle {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  font-weight: 700;
  justify-content: center;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.team__title {
  color: var(--secondary-color);
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__uppertitle {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__subtitle {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.clients__title {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-align: center;
  margin-bottom: 50px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.project__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.register-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color);
}
