body {
  font-family: var(--main-font-family);
  color: var(--primary-color);
  letter-spacing: 0.03em;
  @media screen and (min-width: 320px) {
    overflow-x: hidden;
  }
}

body.mobile-menu-open {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}
