@mixin section($padding: 60px) {
  padding-top: $padding;
  padding-bottom: $padding;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// @mixin flex-basis($indent, $items) {
//   flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});

@mixin flex-calc($indent: 30px, $items: 3) {
  flex-basis: calc((100% - (#{$items} - 1) * #{$indent}) / #{$items});
}
